---
// Basic FAQ section
// ------------
// Description: A section that contains a list of frequently asked questions with answers.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Demystifying <strong>pricing,</strong> common queries resolved
			</h2>
			<p class="text-lg leading-relaxed">
				Curious about our pricing plans? We're here to help. Below are some of the most frequently
				asked questions about our pricing options.
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="How do I Subscribe?"
					text="Subscription is made through Gumroad. The links on the subscriptions will take you to their respective Gumroad pages."
				/>
				<Accordion
					title="How long is the free trial?"
					text="When you subscribe for a membership on Gumroad, you have 7 days to access our product before your card gets charged. You can also cancel before the end of the trial, to avoid getting charged."
				/>
				<Accordion
					title="Can I upgrade my plan later?"
					text="Yes, you can upgrade or downgrade your plan at any time from the 'Manage membership' area on Gumroad. The changes will take effect immediately, and any cost adjustments will be prorated."
				/>
				<Accordion
					title="Are there any hidden fees?"
					text="No, there are no hidden fees. The price you see is the price you pay. We believe in transparent pricing with no surprises."
				/>
				<Accordion
					title="Do you offer discounts for annual subscriptions?"
					text="Yes, we offer a discount for annual subscriptions. By choosing an annual plan, you can save up to 33% compared to the monthly plan."
				/>
				<Accordion
					title="Do you offer refunds?"
					text="Yes, we offer refunds but on certain conditions only. Please go through our refund policy for more information."
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>